@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
margin: 0;
border: 0;

}

:root{
 --Starship: #F3DB4C;
 --Mine-Shaft: #343434;
 --Husk: #B2A443;
 --Sycamore: #94843C;
 --white: #fff;
 --max-width: 1400px;
 --padding: 8px;
 --margin: 10px;
 --border-radius: 8px;
 --transition: 1s ;
 --font-size: 16px;

}

::selection{
  background: var(--Starship);
  color: var(--white);
}

body{
  background: var(--Mine-Shaft);
  color: var(--white);
  font-size: var(--font-size);
  font-family: "Monserrat", "sans-serif";
  line-height: 24px;
}

header{
  text-align: center;
  background: var(--Mine-Shaft);
  color: var(--Starship);
  border-bottom: solid 1px var(--Husk);
  padding: var(--padding);
  margin-bottom: 8px;
}

section{
  padding: var(--padding);
}

a, .list__item{
  color: var(--Starship);
  text-decoration: none;
}
h1, h2{
  padding: var(--padding);
}

p{
  font-size: var(--font-size);
  margin: 0 0 var(--margin);
  color: var(--white);
}

p::first-letter{
  font-size: 1.4rem;
  color: var(--Starship);
  font-weight: bold;
}

ul{
  list-style: none;
}

ul.list > li.item {
  cursor: pointer;
}

li.item:hover a{ 
  color: var(--Mine-Shaft);
}

.container{
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--padding);
}

/* Formulario de busqueda */
.search{
  display: flex;
  justify-content: end;
}

.search__form{
  border: solid 1px var(--Starship);
  border-radius: var(--border-radius);
  margin-bottom: var(--margin);
  padding: var(--padding);
  display: inline-grid;
  grid-template-columns: auto 40px;
  grid-template-rows: auto;
  gap: 4px;
}

.input{
  width: 100%;
  padding: var(--padding);
  border: solid 1px var(--Husk);
  outline: none;
  font-size: 1rem;
  color: var(--Mine-Shaft);
}

.card{
  width: 450px;
  border: solid 1px var(--Starship);
  border-radius: var(--border-radius);
  margin: 0 auto;
}

.card__header{
  padding: var(--padding);
}

.card__title{
  text-wrap: wrap;
  word-break: break-all;
}

.card__body{
  padding: var(--padding);
}

.card__img{
  width: 100%;
}

.card__paragraph{
  padding: var(--padding);
}

.button{
  padding: var(--padding);
  background: var(--Starship);
  color: var(--Mine-Shaft);
  border-radius: var(--border-radius);
  font-size: .9rem;
  font-weight: 500;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border: solid 0.5px var(--Starship);
  transition: var(--transition);
}

.button__icon{
  justify-content: center;
  align-items: center;
}

.button__text{

}

.button__icon{
  font-size: 1.4rem;
}

.button__outline{
  background: var(--Mine-Shaft);
  color: var(--Starship);
}

.button:hover{
  background: var(--Mine-Shaft);
  color: var(--Starship);
}

.list{
  text-align: center;
  padding: var(--padding);
}

.list__item{
  border-bottom: solid 1px var(--Husk);
  padding: var(--padding);
  transition: var(--transition);
  font-size: 1.2rem;
}

.list__item:hover{
  background: var(--Husk);
  color: var(--Mine-Shaft);
}

ul.list > li.list__item :last-child{
  border-bottom: none;
}

div.cards > ul.list > li.list  > a:visited{
  color: var(--Sycamore);
}
 .cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
 }